/* card layout */
.card_wrap +.card_wrap {margin-top: 60px;}
.card_wrap h2 { font-size: 20px; font-weight: 600; text-align: left; margin-bottom: 30px;}
.card_wrap .card_box {display: flex; justify-content: space-between; align-items: center;}
.card_wrap .card_box .card {display: flex; justify-content: center; align-items: center; flex-direction: column; gap: 15px; width: 30%; padding: 40px; border-radius: 15px;}
.card_wrap .card_box .card:nth-child(2n+1){ background: #F7F8F9;}
.card_wrap .card_box .card:nth-child(2n){ background: #dedede;}
.card_wrap .card_box .card:nth-child(2n) > p { color:  #000;}
.card_wrap .card_box .card:nth-child(2n) > p.title{ border: 1px solid #000;}
.card_wrap .card_box .card .title {display: inline-block; font-size: 15px; font-weight: 500; border: 1px solid #1e1f23; border-radius: 20px; padding: 8px 20px;}
.card_wrap .card_box .card .text {font-size: 22px; font-weight: 500;}
.card_wrap .card_box .card .num {font-size: 55px; font-weight: 700;}
