/* list layout */

/* search */
.list_wrap .search_wrap {display: flex; justify-content:flex-start; gap: 10px;}

.list_wrap .search_wrap .search_text_area {width: 874px; height:53px; border: 1px solid #d9d9d9; border-radius: 10px; }

.list_wrap .search_wrap .search_text_area .search_box {width: 100%; height: 100%;font-size: 16px; background-image: url('../images/search_icon.svg'); background-position: 835px center; background-repeat: no-repeat; background-size: 24px 24px; padding: 0 40px 0 18px; border-radius: 10px;}

.list_wrap .search_wrap .cate_box {display: block; width: 125px; height: 53px;}
.list_wrap .search_wrap .cate_box select {display: block; width: 125px; height: 53px; font-size: 16px;background-color: #f2f5f7; padding-left: 18px; background-image: url('../images/select_arrow.svg'); background-position: 104px center; background-repeat: no-repeat; background-size: 8px 9px; border-radius: 10px;}
.list_wrap .search_wrap .cate_box  select:focus { outline: none; box-shadow: 0px 0px 10px rgba(36, 73, 97, 0.3);}

/* table */
.list_wrap .table_wrap {margin-top: 77px;}
.list_wrap .table_wrap h2 { font-size: 20px; font-weight: 600; text-align: left; margin-bottom: 30px;}

.list_wrap .table_wrap table{width: 100%;}
.list_wrap .table_wrap table>tbody>tr{ border-bottom: 1px solid #E4E4E4; }
.list_wrap .table_wrap table>tbody>tr:hover{ background-color: #F2F5F8; cursor: pointer;}
.list_wrap .table_wrap table>tbody>tr>td{height: 46px;font-size: 15px;line-height: 25px;padding: 15px 0;}
.list_wrap .table_wrap table>thead>tr>th>p { border-radius: 6px; display: flex; align-items: center; text-align: center; justify-content: space-evenly; height: 40px; margin-bottom: 0px; font-size: 13px; margin-bottom: 8px;}
.list_wrap .table_wrap table>tbody>tr>td>p { text-align: center; font-size: 15px;}
.list_wrap .table_wrap table >thead>tr>th:first-child{width:66px;}
.list_wrap .table_wrap table >thead>tr>th:nth-child(n+2):nth-child(-n+5){width:247px;}
.list_wrap .table_wrap table >thead>tr>th:nth-child(6){width:74px}
.list_wrap .table_wrap table >thead>tr>th:nth-child(n+6):nth-child(-n+7):{width:122px}
.list_wrap .table_wrap >thead>tr>th:not(:last-child) { width: 424.67px; }
.list_wrap .table_wrap >thead>tr>th:last-child { width: 122px; }
.list_wrap .table_wrap >thead>tr>th:not(:last-child)>p, 
.list_wrap .table_wrap table>thead>tr>th:not(:last-child)>p { margin-right: 6px; }
.list_wrap .table_wrap >thead>tr>th:not(:nth-child(2))>p, 
.list_wrap .table_wrap table>thead>tr>th:not(:nth-child(5))>p { background-color: #F7F8F9; }
.list_wrap .table_wrap >thead>tr>th:nth-child(2)>p,
.list_wrap .table_wrap table>thead>tr>th:nth-child(5)>p { background-color:  #c4c4c4; color: #414141; }
.list_wrap .table_wrap >tbody>tr>td:nth-child(2),
.list_wrap .table_wrap table>tbody>tr>td:nth-child(5) {color: #000;font-weight: 400;}
.list_wrap .table_wrap >tbody>tr>td:not(:nth-child(2)),
.list_wrap .table_wrap table>tbody>tr>td:not(:nth-child(5)) {color: #000000;font-weight: 400;}

/* pagination */
.list_wrap .pagination_wrap {margin-top: 15px; display: flex; justify-content: flex-end;} 
.list_wrap .pagination_wrap .pagination {display: flex;} 
.list_wrap .pagination_wrap .pagination .page_item {display: block; width: 27px; height: 31px; border: 1px solid #D9D9D9; border-right: none;}
.list_wrap .pagination_wrap .pagination .page_item .page_link {display: flex; justify-content: center; align-items: center;  width: 100%; height: 100%; font-size: 13px; color: #D9D9D9;}
.list_wrap .pagination_wrap .pagination .page_item:first-child {border-radius: 3px 0px 0px 3px;}
.list_wrap .pagination_wrap .pagination .page_item:last-child {border-radius: 0px 3px 3px 0px; border-right: 1px solid #D9D9D9;}
.list_wrap .pagination_wrap .pagination .page_item.active {border: 1px solid #000;}
.list_wrap .pagination_wrap .pagination .page_item.active .page_link {color: #000;}
.list_wrap .pagination_wrap .pagination .page_item.active + .page_item {border-left: none;}
