.userinquiryTitle{font-size:20px;font-weight:600;text-align:left;margin-bottom:30px}
.itemBox{margin-bottom:45px;padding:32px;background:#f7f8f9;border-radius:16px}
.itemBox .itemBoxTitle{margin-bottom:15px}
.userInfoBox{display:flex;gap:20px}
.userInfoBox>div{flex-grow:1}
.userInfoBox input{border:1px solid #d9d9d9;width:100%;height:53px;border-radius:10px; padding: 0 20px; font-size: 14px;}
.userDateBox {width:100%; padding:30px;}
.userDateBox div input {width:100%; font-size: 14px; padding: 20px; }
.userinquiryBox div{background:hsl(0, 0%, 100%);padding:30px}
.userAnswerBox textarea{width:100%;resize:none}
.userAnswerBox textarea:focus{outline:0}
.userImgBox img {background-color: #fff; display: block; width: 200px; height: 200px;}
.btnBox{display:flex;gap:20px;justify-content:center;margin-top:52px}
.btnBox button{width:144px;height:57px;font-family:Pretendard,sans-serif;font-size:18px;font-weight:500;line-height:25px}
.btnBox .toList{background:#eaeaea;border-radius:6px}
.btnBox .addBtn{background:#424242;color:#fff;border-radius:6px}